body
{
    background-color: #73A5CA;
}
.card
{
    background-color: #FFC81E;
    margin: 10px;
}
.row
{
    margin: 10px;
    
}
.kiszallitas
{
    background-color: #ffa51e;
    border-radius: 40px;
    padding-left: 5px;
}
img
{
    border-radius: 30px;
    margin-top: 15px;
    height: 230px;
}
nav
{
    background-color: #ffa51e;
}
.card-title
{
    text-align: center;
}
.cart
{
    background-color: #e69c2d;
    border: #664c06;
    acti
}
.cart:hover
{
    background-color: #e69c2d;
}
.kiszalit_text
{
    margin-left: 20px;
}
#gyumolcs, #klasszik ,#kulonleges
{
    background-color: #FFC81E;
    border-radius: 25px;
    padding: 20px;
    margin-top:5px ;
}